/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}

/* css to customize Leaflet default styles  */
.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: #e9f89d;
    color: #243035;
}

.legend {
  border: 5px solid white;
  background: white;
  line-height: 22px;
  color: rgb(17, 17, 17);
}
.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 30px;
  opacity: 0.7;
  border: 1px solid black;
}